In [3]:
import requests
import pandas as pd

In [14]:
df = pd.read_csv("india_arms-cleaned.csv")

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   1960          132 non-null    float64
 2   1961          119 non-null    float64
 3   1962          126 non-null    float64
 4   1963          133 non-null    float64
 5   1964          143 non-null    float64
 6   1965          146 non-null    float64
 7   1966          141 non-null    float64
 8   1967          131 non-null    float64
 9   1968          140 non-null    float64
 10  1969          138 non-null    float64
 11  1970          137 non-null    float64
 12  1971          148 non-null    float64
 13  1972          139 non-null    float64
 14  1973          149 non-null    float64
 15  1974          141 non-null    float64
 16  1975          152 non-null    float64
 17  1976          153 non-null    float64
 18  1977          154 non-null    float64
 19  1978          160 non-null    float64
 20  1979          150 non-null    float64
 21  1980          155 non-null    float64
 22  1981          159 non-null    float64
 23  1982          158 non-null    float64
 24  1983          151 non-null    float64
 25  1984          155 non-null    float64
 26  1985          158 non-null    float64
 27  1986          150 non-null    float64
 28  1987          140 non-null    float64
 29  1988          143 non-null    float64
 30  1989          147 non-null    float64
 31  1990          145 non-null    float64
 32  1991          133 non-null    float64
 33  1992          127 non-null    float64
 34  1993          120 non-null    float64
 35  1994          138 non-null    float64
 36  1995          135 non-null    float64
 37  1996          140 non-null    float64
 38  1997          140 non-null    float64
 39  1998          131 non-null    float64
 40  1999          134 non-null    float64
 41  2000          143 non-null    float64
 42  2001          130 non-null    float64
 43  2002          136 non-null    float64
 44  2003          128 non-null    float64
 45  2004          134 non-null    float64
 46  2005          142 non-null    float64
 47  2006          147 non-null    float64
 48  2007          146 non-null    float64
 49  2008          145 non-null    float64
 50  2009          154 non-null    float64
 51  2010          158 non-null    float64
 52  2011          160 non-null    float64
 53  2012          168 non-null    float64
 54  2013          162 non-null    float64
 55  2014          161 non-null    float64
 56  2015          166 non-null    float64
 57  2016          165 non-null    float64
 58  2017          155 non-null    float64
 59  2018          162 non-null    float64
 60  2019          166 non-null    float64
 61  2020          158 non-null    float64
 62  2021          162 non-null    float64
 63  2022          148 non-null    float64
dtypes: float64(63), object(1)
memory usage: 133.1+ KB

In [16]:
new_df = df[['Country Name'] + [col for col in df.columns if col >= '2004' and col <= '2022']]

In [17]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   2004          134 non-null    float64
 2   2005          142 non-null    float64
 3   2006          147 non-null    float64
 4   2007          146 non-null    float64
 5   2008          145 non-null    float64
 6   2009          154 non-null    float64
 7   2010          158 non-null    float64
 8   2011          160 non-null    float64
 9   2012          168 non-null    float64
 10  2013          162 non-null    float64
 11  2014          161 non-null    float64
 12  2015          166 non-null    float64
 13  2016          165 non-null    float64
 14  2017          155 non-null    float64
 15  2018          162 non-null    float64
 16  2019          166 non-null    float64
 17  2020          158 non-null    float64
 18  2021          162 non-null    float64
 19  2022          148 non-null    float64
dtypes: float64(19), object(1)
memory usage: 41.7+ KB

In [22]:
israel_data = new_df[new_df['Country Name'] == 'Israel']

for index, row in israel_data.iterrows():
    print(f"Country Name: {row['Country Name']}")
    for year, value in row.items():
        if isinstance(value, float):
            print(f"{year}: {value}")
    print()

Country Name: Israel
2004: 846000000.0
2005: 1135000000.0
2006: 1125000000.0
2007: 835000000.0
2008: 679000000.0
2009: 156000000.0
2010: 71000000.0
2011: 86000000.0
2012: 127000000.0
2013: 216000000.0
2014: 549000000.0
2015: 688000000.0
2016: 622000000.0
2017: 535000000.0
2018: 494000000.0
2019: 519000000.0
2020: 367000000.0
2021: 476000000.0
2022: 829000000.0

In [31]:
import pandas as pd

# Assuming your new DataFrame is named 'new_df'
israel_data = new_df[new_df['Country Name'] == 'Israel']

data = []
for index, row in israel_data.iterrows():
    for year, value in row.items():
        if isinstance(value, float):
            data.append([year, value / 1_000_000])

# Create a DataFrame from the data
israel_df = pd.DataFrame(data, columns=["Year", "Value (in millions)"])

# Export the DataFrame to a CSV file
israel_df.to_csv("israel_data.csv", index=False)