In [1]:
import requests
import pandas as pd

In [2]:
df = pd.read_csv("india_arms-cleaned.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   1960          132 non-null    float64
 2   1961          119 non-null    float64
 3   1962          126 non-null    float64
 4   1963          133 non-null    float64
 5   1964          143 non-null    float64
 6   1965          146 non-null    float64
 7   1966          141 non-null    float64
 8   1967          131 non-null    float64
 9   1968          140 non-null    float64
 10  1969          138 non-null    float64
 11  1970          137 non-null    float64
 12  1971          148 non-null    float64
 13  1972          139 non-null    float64
 14  1973          149 non-null    float64
 15  1974          141 non-null    float64
 16  1975          152 non-null    float64
 17  1976          153 non-null    float64
 18  1977          154 non-null    float64
 19  1978          160 non-null    float64
 20  1979          150 non-null    float64
 21  1980          155 non-null    float64
 22  1981          159 non-null    float64
 23  1982          158 non-null    float64
 24  1983          151 non-null    float64
 25  1984          155 non-null    float64
 26  1985          158 non-null    float64
 27  1986          150 non-null    float64
 28  1987          140 non-null    float64
 29  1988          143 non-null    float64
 30  1989          147 non-null    float64
 31  1990          145 non-null    float64
 32  1991          133 non-null    float64
 33  1992          127 non-null    float64
 34  1993          120 non-null    float64
 35  1994          138 non-null    float64
 36  1995          135 non-null    float64
 37  1996          140 non-null    float64
 38  1997          140 non-null    float64
 39  1998          131 non-null    float64
 40  1999          134 non-null    float64
 41  2000          143 non-null    float64
 42  2001          130 non-null    float64
 43  2002          136 non-null    float64
 44  2003          128 non-null    float64
 45  2004          134 non-null    float64
 46  2005          142 non-null    float64
 47  2006          147 non-null    float64
 48  2007          146 non-null    float64
 49  2008          145 non-null    float64
 50  2009          154 non-null    float64
 51  2010          158 non-null    float64
 52  2011          160 non-null    float64
 53  2012          168 non-null    float64
 54  2013          162 non-null    float64
 55  2014          161 non-null    float64
 56  2015          166 non-null    float64
 57  2016          165 non-null    float64
 58  2017          155 non-null    float64
 59  2018          162 non-null    float64
 60  2019          166 non-null    float64
 61  2020          158 non-null    float64
 62  2021          162 non-null    float64
 63  2022          148 non-null    float64
dtypes: float64(63), object(1)
memory usage: 133.1+ KB

In [4]:
print(df[df['Country Name'] == 'Israel'])

    Country Name         1960        1961         1962         1963  \
115       Israel  163000000.0  87000000.0  271000000.0  407000000.0

            1964         1965         1966         1967         1968  ...  \
115  417000000.0  437000000.0  319000000.0  283000000.0  978000000.0  ...

            2013         2014         2015         2016         2017  \
115  216000000.0  549000000.0  688000000.0  622000000.0  535000000.0

            2018         2019         2020         2021         2022
115  494000000.0  519000000.0  367000000.0  476000000.0  829000000.0

[1 rows x 64 columns]

In [8]:
import pandas as pd

# Adjust the display options to show more columns
pd.set_option('display.max_columns', None)

# Print the DataFrame
print(df.loc[df['Country Name'] == 'Israel'])

    Country Name         1960        1961         1962         1963  \
115       Israel  163000000.0  87000000.0  271000000.0  407000000.0

            1964         1965         1966         1967         1968  \
115  417000000.0  437000000.0  319000000.0  283000000.0  978000000.0

             1969          1970          1971         1972          1973  \
115  1.381000e+09  1.122000e+09  1.341000e+09  891000000.0  1.959000e+09

             1974          1975          1976          1977          1978  \
115  1.174000e+09  1.624000e+09  1.939000e+09  1.261000e+09  1.326000e+09

            1979          1980          1981         1982         1983  \
115  698000000.0  1.260000e+09  1.654000e+09  866000000.0  487000000.0

            1984         1985          1986          1987         1988  \
115  286000000.0  309000000.0  1.185000e+09  1.080000e+09  582000000.0

           1989        1990          1991          1992         1993  \
115  24000000.0  81000000.0  1.210000e+09  1.335000e+09  716000000.0

            1994         1995         1996        1997          1998  \
115  761000000.0  366000000.0  108000000.0  59000000.0  1.289000e+09

             1999         2000         2001         2002         2003  \
115  1.191000e+09  354000000.0  116000000.0  337000000.0  179000000.0

            2004          2005          2006         2007         2008  \
115  846000000.0  1.135000e+09  1.125000e+09  835000000.0  679000000.0

            2009        2010        2011         2012         2013  \
115  156000000.0  71000000.0  86000000.0  127000000.0  216000000.0

            2014         2015         2016         2017         2018  \
115  549000000.0  688000000.0  622000000.0  535000000.0  494000000.0

            2019         2020         2021         2022
115  519000000.0  367000000.0  476000000.0  829000000.0

In [25]:
# Print the DataFrame for Israel
print(df.loc[df['Country Name'] == 'Israel'])

# Convert the data for Israel to a two-column DataFrame
israel_data_2col = pd.melt(df.loc[df['Country Name'] == 'Israel'], id_vars=['Country Name'], var_name='Year', value_name='Value')

# Export the two-column data for Israel to a new CSV file
israel_data_2col.to_csv('israel-data-two-columns.csv', index=False)

    Country Name         1960        1961         1962         1963  \
115       Israel  163000000.0  87000000.0  271000000.0  407000000.0

            1964         1965         1966         1967         1968  \
115  417000000.0  437000000.0  319000000.0  283000000.0  978000000.0

             1969          1970          1971         1972          1973  \
115  1.381000e+09  1.122000e+09  1.341000e+09  891000000.0  1.959000e+09

             1974          1975          1976          1977          1978  \
115  1.174000e+09  1.624000e+09  1.939000e+09  1.261000e+09  1.326000e+09

            1979          1980          1981         1982         1983  \
115  698000000.0  1.260000e+09  1.654000e+09  866000000.0  487000000.0

            1984         1985          1986          1987         1988  \
115  286000000.0  309000000.0  1.185000e+09  1.080000e+09  582000000.0

           1989        1990          1991          1992         1993  \
115  24000000.0  81000000.0  1.210000e+09  1.335000e+09  716000000.0

            1994         1995         1996        1997          1998  \
115  761000000.0  366000000.0  108000000.0  59000000.0  1.289000e+09

             1999         2000         2001         2002         2003  \
115  1.191000e+09  354000000.0  116000000.0  337000000.0  179000000.0

            2004          2005          2006         2007         2008  \
115  846000000.0  1.135000e+09  1.125000e+09  835000000.0  679000000.0

            2009        2010        2011         2012         2013  \
115  156000000.0  71000000.0  86000000.0  127000000.0  216000000.0

            2014         2015         2016         2017         2018  \
115  549000000.0  688000000.0  622000000.0  535000000.0  494000000.0

            2019         2020         2021         2022
115  519000000.0  367000000.0  476000000.0  829000000.0

In [26]:
import pandas as pd

# Adjust the display options to show more columns
pd.set_option('display.max_columns', None)

# Print the DataFrame for Israel
print(df.loc[df['Country Name'] == 'Israel'])

# Convert the data for Israel to a two-column DataFrame
israel_data_2col = pd.melt(df.loc[df['Country Name'] == 'Israel'], id_vars=['Country Name'], var_name='Year', value_name='Value')

# Convert the 'Value' column to integer
israel_data_2col['Value'] = israel_data_2col['Value'].astype(int)

# Convert the 'Value' column to millions
israel_data_2col['Value'] = israel_data_2col['Value'] / 1_000_000

# Export the two-column data for Israel to a new CSV file
israel_data_2col.to_csv('israel-data-two-columns-millions.csv', index=False)

    Country Name         1960        1961         1962         1963  \
115       Israel  163000000.0  87000000.0  271000000.0  407000000.0

            1964         1965         1966         1967         1968  \
115  417000000.0  437000000.0  319000000.0  283000000.0  978000000.0

             1969          1970          1971         1972          1973  \
115  1.381000e+09  1.122000e+09  1.341000e+09  891000000.0  1.959000e+09

             1974          1975          1976          1977          1978  \
115  1.174000e+09  1.624000e+09  1.939000e+09  1.261000e+09  1.326000e+09

            1979          1980          1981         1982         1983  \
115  698000000.0  1.260000e+09  1.654000e+09  866000000.0  487000000.0

            1984         1985          1986          1987         1988  \
115  286000000.0  309000000.0  1.185000e+09  1.080000e+09  582000000.0

           1989        1990          1991          1992         1993  \
115  24000000.0  81000000.0  1.210000e+09  1.335000e+09  716000000.0

            1994         1995         1996        1997          1998  \
115  761000000.0  366000000.0  108000000.0  59000000.0  1.289000e+09

             1999         2000         2001         2002         2003  \
115  1.191000e+09  354000000.0  116000000.0  337000000.0  179000000.0

            2004          2005          2006         2007         2008  \
115  846000000.0  1.135000e+09  1.125000e+09  835000000.0  679000000.0

            2009        2010        2011         2012         2013  \
115  156000000.0  71000000.0  86000000.0  127000000.0  216000000.0

            2014         2015         2016         2017         2018  \
115  549000000.0  688000000.0  622000000.0  535000000.0  494000000.0

            2019         2020         2021         2022
115  519000000.0  367000000.0  476000000.0  829000000.0